/* line 620, /Users/jerry/Sites/triptelling/less/mixins.less */
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/* line 7, /Users/jerry/Sites/triptelling/less/main.less */
body {
  font-family: 'Lato';
  font-weight: 300;
}
/* line 15, /Users/jerry/Sites/triptelling/less/main.less */
body > section {
  padding-top: 80px;
  padding-bottom: 80px;
}
/* line 20, /Users/jerry/Sites/triptelling/less/main.less */
p {
  font-size: 1.5em;
  color: #E74C3C;
  font-weight: 500;
}
/* line 27, /Users/jerry/Sites/triptelling/less/main.less */
a {
  font-weight: 600;
  color: #D1362F;
}
/* line 31, /Users/jerry/Sites/triptelling/less/main.less */
a:hover,
a:focus {
  color: #FF8888;
  text-decoration: none;
}
/* line 40, /Users/jerry/Sites/triptelling/less/main.less */
h1 {
  font-size: 4.2em;
  font-weight: 500;
  line-height: 1.3em;
  color: white;
  padding-top: 0px;
}
@media (max-width: 480px) {
  /* line 47, /Users/jerry/Sites/triptelling/less/main.less */
  h1 {
    font-size: 3em;
    text-align: center;
  }
}
@media (max-width: 320px) {
  /* line 52, /Users/jerry/Sites/triptelling/less/main.less */
  h1 {
    font-size: 2em;
    text-align: center;
  }
}
/* line 59, /Users/jerry/Sites/triptelling/less/main.less */
h2 {
  font-size: 4em;
  font-weight: 500;
}
@media (max-width: 480px) {
  /* line 63, /Users/jerry/Sites/triptelling/less/main.less */
  h2 {
    font-size: 3em;
    text-align: center;
  }
}
@media (max-width: 320px) {
  /* line 68, /Users/jerry/Sites/triptelling/less/main.less */
  h2 {
    font-size: 2em;
    text-align: center;
  }
}
/* line 77, /Users/jerry/Sites/triptelling/less/main.less */
header {
  background: url(../images/header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 85, /Users/jerry/Sites/triptelling/less/main.less */
header .logo {
  width: 30%;
  padding-top: 120px;
}
@media (max-width: 1200px) {
  /* line 89, /Users/jerry/Sites/triptelling/less/main.less */
  header .logo {
    width: 40%;
  }
}
@media (max-width: 991px) and (min-width: 786px) {
  /* line 93, /Users/jerry/Sites/triptelling/less/main.less */
  header .logo {
    width: 50%;
  }
}
@media (max-width: 786px) {
  /* line 97, /Users/jerry/Sites/triptelling/less/main.less */
  header .logo {
    text-align: center;
    margin: 0 auto;
    display: block;
  }
}
/* line 104, /Users/jerry/Sites/triptelling/less/main.less */
header .pic0 {
  width: 100%;
  margin-top: 100px;
}
@media (max-width: 991px) {
  /* line 108, /Users/jerry/Sites/triptelling/less/main.less */
  header .pic0 {
    width: 100%;
    margin-top: 130px;
  }
}
@media (max-width: 786px) {
  /* line 113, /Users/jerry/Sites/triptelling/less/main.less */
  header .pic0 {
    width: 70%;
    margin: 0 auto;
    display: block;
    margin-top: 70px;
  }
}
@media (max-width: 1200px) {
  /* line 124, /Users/jerry/Sites/triptelling/less/main.less */
  header h1 {
    font-size: 3.2em;
  }
}
@media (max-width: 991px) and (min-width: 786px) {
  /* line 127, /Users/jerry/Sites/triptelling/less/main.less */
  header h1 {
    font-size: 2em;
  }
}
@media (max-width: 786px) {
  /* line 130, /Users/jerry/Sites/triptelling/less/main.less */
  header h1 {
    text-align: center;
    margin-top: 70px;
  }
}
@media (max-width: 991px) and (min-width: 786px) {
  /* line 137, /Users/jerry/Sites/triptelling/less/main.less */
  header .btn {
    font-size: 1.5em;
  }
}
@media (max-width: 786px) {
  /* line 140, /Users/jerry/Sites/triptelling/less/main.less */
  header .btn {
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 70px;
  }
}
/* line 150, /Users/jerry/Sites/triptelling/less/main.less */
.btn {
  font-size: 2em;
  font-weight: 300;
  margin-top: 50px;
  padding: 20px 30px;
  border-radius: 0px;
}
/* line 159, /Users/jerry/Sites/triptelling/less/main.less */
.capture {
  background-color: #FFED89;
  color: #F68E55;
}
/* line 163, /Users/jerry/Sites/triptelling/less/main.less */
.capture .pic1 {
  width: 100%;
}
@media (max-width: 786px) {
  /* line 166, /Users/jerry/Sites/triptelling/less/main.less */
  .capture .pic1 {
    width: 70%;
    margin: 0 auto;
    display: block;
    margin-top: 70px;
  }
}
/* line 174, /Users/jerry/Sites/triptelling/less/main.less */
.capture h2 {
  margin-top: 200px;
}
@media (max-width: 991px) {
  /* line 177, /Users/jerry/Sites/triptelling/less/main.less */
  .capture h2 {
    margin-top: 150px;
  }
}
@media (max-width: 786px) {
  /* line 181, /Users/jerry/Sites/triptelling/less/main.less */
  .capture h2 {
    margin-top: 70px;
    text-align: center;
  }
}
/* line 190, /Users/jerry/Sites/triptelling/less/main.less */
.display {
  color: #fff;
  background: url(../images/pic-2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #2DCB71;
}
@media (max-width: 786px) {
  /* line 202, /Users/jerry/Sites/triptelling/less/main.less */
  .display h2 {
    margin-top: 70px;
    text-align: center;
  }
}
/* line 209, /Users/jerry/Sites/triptelling/less/main.less */
.discover {
  background-color: #5FCBFF;
  color: #297FB9;
}
/* line 213, /Users/jerry/Sites/triptelling/less/main.less */
.discover .pic3 {
  width: 100%;
}
@media (max-width: 786px) {
  /* line 216, /Users/jerry/Sites/triptelling/less/main.less */
  .discover .pic3 {
    width: 70%;
    margin: 0 auto;
    display: block;
    margin-top: 70px;
  }
}
/* line 224, /Users/jerry/Sites/triptelling/less/main.less */
.discover h2 {
  margin-top: 200px;
}
@media (max-width: 991px) {
  /* line 226, /Users/jerry/Sites/triptelling/less/main.less */
  .discover h2 {
    margin-top: 150px;
  }
}
@media (max-width: 786px) {
  /* line 230, /Users/jerry/Sites/triptelling/less/main.less */
  .discover h2 {
    margin-top: 70px;
    text-align: center;
  }
}
/* line 239, /Users/jerry/Sites/triptelling/less/main.less */
.invite {
  color: #E74C3C;
  background-color: #fff;
}
/* line 243, /Users/jerry/Sites/triptelling/less/main.less */
.invite .pic4 {
  margin-top: 100px;
  width: 80%;
}
@media (max-width: 786px) {
  /* line 247, /Users/jerry/Sites/triptelling/less/main.less */
  .invite .pic4 {
    width: 70%;
    margin: 0 auto;
    display: block;
    margin-top: 70px;
  }
}
/* line 255, /Users/jerry/Sites/triptelling/less/main.less */
.invite h3 {
  margin-top: 100px;
}
/* line 259, /Users/jerry/Sites/triptelling/less/main.less */
.invite button {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  /* line 264, /Users/jerry/Sites/triptelling/less/main.less */
  .invite {
    text-align: center;
  }
}
/* line 269, /Users/jerry/Sites/triptelling/less/main.less */
footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #E74C3C;
}
/* line 274, /Users/jerry/Sites/triptelling/less/main.less */
footer p {
  font-size: 2.5em;
  color: #fff;
  font-weight: 500;
}
/* line 281, /Users/jerry/Sites/triptelling/less/main.less */
footer a {
  font-weight: 600;
  color: #fdd;
}
/* line 285, /Users/jerry/Sites/triptelling/less/main.less */
footer a:hover,
footer a:focus {
  color: #fff;
  text-decoration: none;
}
