!!! 5
html(lang='en')
  head
    include meta-main
    include stylesheets
    include meta-social
    include favicons     
    include iecompat
    
  body
    header
      .container
        .col-sm-7
          img.logo(src='images/logo.svg')
          h1 SHARE THE STORY OF YOUR TRIP
          button.btn.btn-danger REQUEST AN INVITE
        .col-sm-5
          img.pic0(src='images/pic-0.png')

    section.capture
      .container
        .row
          .col-sm-5
            img.pic1(src='images/pic-1.png')
          .col-sm-7
            h2 CAPTURE THE MOMENT


    section.display
      .container
        .row
          .col-sm-5
            h2 DISPLAY YOUR ROUTE
          .col-sm-7
          

    section.discover
      .container
        .row
          .col-sm-5
            h2 DISCOVER THE WORLD
          .col-sm-7
            img.pic3(src='images/pic-3.png')

    section.invite
      .container
        .col-sm-12.text-center
          img.pic4(src='images/pic-4.jpg')
          h3 WE LOVE TRAVELING. DO YOU TOO?
          button.btn.btn-danger REQUEST AN INVITE        
          p You will be the first one to receive an invite when we launch. Your email address will be kept private. No spam. We promise. 
          
    footer 
      .container
        .col-md-12.text-center
          p Contact us at: 
            a(href='info:hello@triptelling.com', target='_blank') info@triptelling.com
    

    include scripts        
    include effects
    include ga
    include crazyegg
    include addthis