// Twitter Card data
meta(name='twitter:card', content='1st Revenue')
meta(name='twitter:site', content='@1stRevenue')
meta(name='twitter:title', content='1st Revenue')
meta(name='twitter:description', content='Business Model Canvas Tool')
meta(name='twitter:creator', content='@1stRevenue')
meta(name='twitter:image', content='http://1stRevenue.com/canvas.png')

// Open Graph data
meta(property='og:title', content='1st Revenue')
meta(property='og:type', content='article')
meta(property='og:url', content='http://1strevenue.com/')
meta(property='og:image', content='http://1stRevenue.com/canvas.png')
meta(property='og:description', content='Business Model Canvas Collaboration Tool')
meta(property='og:site_name', content='1st Revenue')
meta(property='fb:admins', content='734013802')