meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
title Business Model Norway
meta(name='Business Model Summit Norway - Shuffeling rigid hierarchies to create startup culture', content='.')
meta(name='Business Model Summit, Canvas, Ostovalder, Terje Christiansen', content='')
meta(name='Business Model Norway - Shuffeling rigid hierarchies to create startup culture', content='.')
meta(name='Business Model, Canvas, Ostovalder, Terje Christiansen, Jerry Kelih', content='')
meta(name='author', content='humans.txt')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
